<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.allshayri">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllShayri">
        <activity
            android:name=".Activities.NavBar"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminSeeTopics"
            android:exported="false" />
        <activity
            android:name=".Activities.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.InsertPhotos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.addBackImage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AllPages"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SeeTopContent"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AddContentTopic"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ShowTopics"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.InsertTopic"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Admin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3650621484566387~9214848723" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.allshayri.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>